
:root {
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}


body {
    margin: 0;
    background-color: var(--Lightgray);
    text-align: center;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.main_container {
    background-color: var(--White);
    border-radius: 15px; 
    margin: 15px;
    max-width: 320px;
    padding-bottom: 9px;
}

.main_container img {
    margin: 5%;
    width: 90%;
    border-radius: 10px;
}

.main_container h2 {
    font-family: 'Outfit', sans-serif;
    color: var(--Darkblue);
    font-weight: 700;
    font-size: 23px;
    margin: 0 8%;
}


.main_container p {
    font-family: 'Outfit', sans-serif;
    color: var(--Grayishblue);
    font-weight: 400;
    font-size: 15px;
    margin: 5%, 10%;
    padding-bottom: 25px;

}

